@font-face {
	font-family: "Lora";
	src: url('../font/Lora-Regular.ttf') format('opentype');
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lora";
}

#header {
    display: flex;
    justify-content: space-evenly;
    background-color: #9473b4;
}

#nav {
    display: flex;
    padding-left: 25%;
}

#nav p {
    padding-left: 25%;
}

#main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

#welcome {
    border: 1px solid black;
    padding: 40px;
}