@font-face {
	font-family: "Lora";
	src: url('../font/Lora-Regular.ttf') format('opentype');
}

@font-face {
	font-family: "Mono";
	src: url('../font/SpaceMono-Regular.ttf') format('opentype');
}

p {
    font-family: "Lora";
}

h2, h3 {
    font-family: "Mono";
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    justify-content: space-evenly;
    background-color: #9473b4;
}

#nav {
    display: flex;
    padding-left: 25%;
}

#nav p {
    padding-left: 25%;
}

#main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

#welcome {
    border: 1px solid black;
    padding: 40px;
}

#features {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

.feat {
    border: 1px solid black;
    padding: 3%;
}

#about {
    text-align: center;
    margin-top: 4%;
    background-color: rgba(119, 136, 153, 0.5);
    padding: 20px;
}

#form {
    text-align: center;
}

#form input {
    padding-top: 10px;
    margin-bottom: 5%;
}

form {
    display: grid;
    margin: 0 30%;
}

form #comments {
    padding: 0 0 120px 0;
}