@font-face {
	font-family: "Lora";
	src: url('../font/Lora-Regular.ttf') format('opentype');
}

@font-face {
	font-family: "Mono";
	src: url('../font/SpaceMono-Regular.ttf') format('opentype');
}

p, button, #form input {
    font-family: "Lora";
}

h2, h3 {
    font-family: "Mono";
}

h3 {
    font-size: 26px;
}

h2 {
    font-size: 32px;
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#header {
    background-image: linear-gradient(to right, rgba(193, 23, 53), rgba(0, 128, 255), rgba(0, 191, 179));
    display: flex;
    justify-content: space-evenly;
    max-height: 50px;
}

#nav {
    display: flex;
}

#nav p {
    padding-left: 15%;
}

#logo {
    margin-right: 20%;
}

#logo img {
    height: 50px;
}

#main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

#welcome {
    padding: 40px;
    max-width: 400px;
}

#image img {
    max-width: 600px;
    max-height: 600px;
}

#features {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

.feat {
    padding: 3%;
    max-width: 250px;
}

.feat img {
    display: block;
    max-width: 200px;
    max-height: 100px;
    margin: auto;
}

#third img {
    margin-top: 50px;
}

#about {
    text-align: center;
    margin-top: 4%;
    background-color: rgba(0, 128, 255, 0.5);
    padding: 20px;
}

#form {
    text-align: center;
}


#form input {
    padding-top: 10px;
    margin-bottom: 5%;
    font-size: 18px;
}

form {
    display: grid;
    margin: 0 30%;
}

form #comments {
    padding: 0 0 120px 0;
}

#signup {
    margin-left: 30px;
    padding: 0 20px;
    white-space: nowrap;
}

#first {
    background-color: rgba(193, 23, 53, 0.2);
    box-shadow: -10px 10px 5px rgba(193, 23, 53, 0.5);
}

#second {
    background-color: rgba(0, 128, 255, 0.2);
    box-shadow: -10px 10px 5px rgba(0, 128, 255, 0.5);
}

#third {
    background-color: rgba(0, 191, 179, 0.2);
    box-shadow: -10px 10px 5px rgba(0, 191, 179, 0.5);
}