@font-face {
	font-family: "Lora";
	src: url('../font/Lora-Regular.ttf') format('opentype');
}

@font-face {
	font-family: "Mono";
	src: url('../font/SpaceMono-Regular.ttf') format('opentype');
}

p, button {
    font-family: "Lora";
}

h2, h3 {
    font-family: "Mono";
}

h3 {
    font-size: 26px;
}

h2 {
    font-size: 32px;
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    justify-content: space-evenly;
}

#nav {
    display: flex;
    padding-left: 25%;
}

#nav p {
    padding-left: 15%;
}

#main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

#welcome {
    border: 1px solid black;
    padding: 40px;
}

#features {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

.feat {
    border: 1px solid black;
    padding: 3%;
}

#about {
    text-align: center;
    margin-top: 4%;
    background-color: rgba(119, 136, 153, 0.5);
    padding: 20px;
    line-height: 50%;
}

#form {
    text-align: center;
}


#form input {
    padding-top: 10px;
    margin-bottom: 5%;
}

form {
    display: grid;
    margin: 0 30%;
}

form #comments {
    padding: 0 0 120px 0;
}

#signup {
    margin-left: 30px;
    padding: 0 20px;
    white-space: nowrap;
}

#first {
    background-color: rgba(127, 255, 212, 0.5);
}

#second {
    background-color: rgba(0, 255, 255, 0.5)
}

#third {
    background-color: rgba(0, 255, 255, 0.5)
}